.App {
  text-align: center;
}

nav ul {
  display: flex;
  background-color: rgb(167, 230, 253);
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
}

nav ul li a {
  color: #282c34;
  font-weight: 500;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.error {
  color: red;
  font-size: 24px;
  font-weight: bolder;
}

.super-heroes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.super-heroes-list a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
}

.super-heroes-list a:hover {
  color: rgb(78, 107, 118);
  text-shadow: 0 2px 10px #091d43;
}

.super-hero-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.super-hero-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px double #cbce1b;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.super-hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.super-hero-info-name {
  font-size: 24px;
  font-weight: 500;
}


.super-hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.super-hero-box label {
  font-size: 18px;
  font-weight: 500;
}

.super-hero-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
  gap: 20px;
}